<div class="sidebar" data-color="orange">
  <div class="logo">
    <a href="#" class="simple-text logo-mini">
      <i class="now-ui-icons education_atom" style="font-size: xx-large;"></i>
    </a>
    <a href="#" class="simple-text logo-normal">
      Eletron
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li [ngClass]="{'active': selectedText === menu.Text}" *ngFor="let menu of menuCollection">
        <a (click)="selectMenu(menu.Text)">
          <i class="{{menu.Icon}}"></i>
          <p>{{menu.Text}} </p>
        </a>
        
      </li>
    </ul>
  </div>
</div>